.alert {
    background-color:grey;
    padding: 20px;
    font-size: 14px;
    border:1px solid grey;
    color:white;
}

.alert-success {
    background-color: green;
    border-color:green;
}

.alert-error {
    background-color: red;
    border-color:red;
}