.btn {
  min-width: 120px;
  padding: 10px 15px;
  border: 1px solid grey;
  background-color: grey;
  font-size: 14px;
}

.btn-primary {
  background-color: orange;
  border-color:orange;
}

.btn-secondary {
  background-color: purple;
  border-color:purple;
  color:white;
}

.btn-sm {
  font-size: 12px;
  min-width: 80px;
  padding: 8px 10px;
}
