@tailwind base;
@tailwind components;
@tailwind utilities;

/*
GLOBAL
*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: arial;
  font-size: 1.3rem;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: verdana;
}

h1 {
  font-size: 3.2rem;
}

/*INPUT*/
input:focus {
  outline: 0;
}

/*Layout*/
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app main {
  flex-grow: 1;
}
